
<div class="container-about">
    <div class="retrato">
        <div class="retrato-img">
            <img src="img/yoyo.gif" alt="" style="height: 750px; opacity: 70%;">
        </div>
    </div>
    <div class="about-texto">
        <h2>soy stefany, 
            diseñadora Web</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Maxime architecto ipsum, dolore est in harum dolorem, 
             dolorum debitis laudantium ut iusto incidunt molestiae corporis
              ipsa ullam iure expedita aut! Commodi?
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
             Maxime architecto ipsum, dolore est in harum dolorem, 
             dolorum debitis laudantium ut iusto incidunt molestiae corporis
              ipsa ullam iure expedita aut! Commodi?
        </p>
    </div>
</div>