<div class="projects-section">
    <div class="title">
    <h2>Projects</h2>
    </div>
    <div class="projects-container">
        {{!-- loop the cards --}}
        {{#each projects}}
            <div class="projects-card">
        <div class="project">
            <div class="project-preview">
                <h6>project</h6>
                <h2>{{title}}</h2>
                <a href="#">VIEW SOURCE CODE </a>
            </div>
            <div class="project-info" style="background-image: url({{url}})">
                <h6>{{languages}}</h6>
            </div>
        </div>
    </div>
       {{/each}}
    </div>
</div>