<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>portafolio</title>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
</head>
<body>
    <div class="navbar">
        <ul class="">
            <li><a href="/" >home</a></li>
            <li><a href="/about" >about</a></li>
            <li><a href="/projects" >projects</a></li>
            <li><a href="/contact" >contact me</a></li>
            <div class="background"></div>
        </ul>
    </div>

     {{{body}}}

    <footer>
        <p>by stefany with ❤</p>
    </footer>
</body>
</html>